<div class="step-main-container" [formGroup]="formGroup">
  <h1 class="header-title-mobile">שאלון פרטים אישיים</h1>
  <div class="form-container">
    <ng-container *ngFor="let field of fields">
      <div *ngIf="field.type === 'text' || field.type === 'number'">
        <input
          class="text-input"
          [type]="field.type"
          [formControlName]="field.name"
          [placeholder]="field.label"
        />
      </div>

      <div *ngIf="field.type === 'radio'">
        <label>{{ field.label }}</label>
        <ng-container *ngFor="let option of field.options">
          <label>
            <input
              type="radio"
              [formControlName]="field.name"
              [value]="option.value"
            />
            {{ option.display }}
          </label>
        </ng-container>
      </div>

      <div *ngIf="field.type === 'genderSelect'" class="gender-selection">
        <label>{{ field.label }}</label>
        <div class="gender-options-container">
          <ng-container *ngFor="let option of field.options">
            <img
              *ngIf="option.image"
              [src]="
                isSelected(field.name, option.value)
                  ? option.selectedImage
                  : option.image
              "
              (click)="selectOption(field.name, option.value)"
              [alt]="option.display"
              class="gender-image"
            />
            <div
              *ngIf="!option.image"
              [class.selected]="isSelected(field.name, option.value)"
              class="other-option"
              (click)="selectOption(field.name, option.value)"
            >
              {{ option.display }}
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="actions-container">
    <button type="button" (click)="onPrev()" class="prev-button">חזור</button>
    <button type="button" (click)="onNext()" class="next-button">המשך</button>
  </div>
</div>
