@mixin xsmall {
  @media screen and (max-width: 599px) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 900px) and (max-width: 1199px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
