$primary-text: #0f2d6c;

$black-default: #000000;
$black-lighter: #0000001a;
$black-lightest: #343530;

$white-darker: #f6f5f0;
$white-default: #ffffff;

$grey-darkest:#8f8f8f;
$grey-darker: #999;
$grey-dark:#c2c3c6;
$grey-lighter:#cccccc;
$grey-lightest:#f0f0ef;

$red-default:#ff0000;