.step-main-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/images/bg_image.jpg");
  background-position: 0px -171.1px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: right;
  padding-top: 36px;

  .text-input {
    text-align: right;
    ::placeholder {
      text-align: right;
    }
  }
}
