@import "../../styles/mixins";

.step-main-container {
  width: 100%;
  height: 100%;
  font-family: Opensanshebrew, sans-serif;
  background-image: url("/assets/images/bg_image.jpg");
  background-position: 0px -171.1px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 36px;
  color: $color-dark;
  font-size: 18px;
  font-weight: 700;
  @include xsmall {
    padding-top: 0;
  }

  .header-title-mobile {
    display: none;
    @include xsmall {
      display: flex;
      align-self: flex-start;
      margin-right: 6%;
      font-size: 20pt;
      font-family: "Reforma", sans-serif;
      color: $color-primary-text;
      font-weight: 500;
      text-align: right;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 57%;
    margin-right: 6%;
    @include medium {
      width: 70%;
    }
    @include small {
      width: 80%;
    }
    @include xsmall {
      width: 100%;
      justify-content: center;
    }

    .text-input-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: -20px;
      margin-left: 45px;

      .text-input {
        text-align: right;
        box-sizing: border-box;
        width: 335px;
        height: 50px;
        padding: 8px 12px;
        font-family: Opensanshebrew, sans-serif;
        font-size: 17px;
        ::placeholder {
          text-align: right;
        }
      }
    }

    .dropdown-container {
      display: flex;
      flex-direction: column;
      .select-input {
        border: 1px solid #8f8f8f;
        background-color: white;
        font-family: Opensanshebrew, sans-serif;
        color: $color-dark;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 352px;
        min-width: 221px;
        height: 51px;
        font-size: 18px;
        margin-top: 3px;

        &:disabled {
          cursor: not-allowed;
          color: #c2c3c6;
          background-color: #f0f0ef;
        }
        &:enabled {
          cursor: pointer;
        }
      }

      .select-options {
        display: flex;
        flex-direction: column;
        border: 1px solid #dcdcdc;
        width: 352px;
        box-sizing: border-box;
        max-height: 170px;
        overflow-y: scroll;
        z-index: 3;

        .select-option {
          font-family: Opensanshebrew, sans-serif;
          font-size: 19px;
          width: 100%;
          text-align: right;
          min-height: 45px;
          padding: 5px 6px 2px;
          border: none;
          background-color: $color-white;
          border-bottom: 1px solid $color-border;
          cursor: pointer;

          &:hover {
            background-color: $color-light;
          }
        }
      }
    }

    .boolean-container {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .boolean-options-container {
        display: flex;
        flex-direction: row;
        gap: 50px;

        .boolean-option {
          height: 52px;
          width: 150px;
          position: relative;
          display: inline-block;
          cursor: pointer;
        }

        .boolean-option img {
          height: 52px;
          width: 150px;
        }

        .option-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: black;
          font-weight: bold;
          pointer-events: none;
          font-weight: 400;
        }
      }
    }

    .radio-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 13px;

      .radio-options-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include xsmall {
          flex-direction: column;
          gap: 5px;
        }

        .radio-option {
          display: flex;
          flex-direction: row;
          gap: 5px;
          width: 280px;
          height: 45px;
        }

        .radio-option img {
          width: 25px;
          height: 25px;
          cursor: pointer;
        }

        .option-text {
          font-size: 19px;
          font-weight: 400;
          padding: 1px 6px 2px;
          cursor: pointer;
        }
      }
    }
  }

  .actions-container {
    display: flex;
    justify-content: flex-end;
    width: 88%;
    padding: 50px 6% 100px 6%;
    @include xsmall {
      padding-right: 0;
      justify-content: center;
      width: 100%;
    }

    .next-button {
      color: white;
      width: 208px;
      height: 52px;
      font-family: Opensanshebrew, sans-serif;
      font-size: 18px;
      font-weight: 700;
      @include xsmall {
        width: 98%;
      }
      &:disabled {
        cursor: not-allowed;
        color: #c2c3c6;
        background-color: #f0f0ef;
        border: 0;
      }
      &:enabled {
        background-image: linear-gradient(180deg, #0f2d6c, #0f2d6c);
        cursor: pointer;
      }
    }
  }
}
