@import "../../styles/mixins";
@import "../../styles/colors";
@import "../../styles/fonts";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 6%;
  box-shadow: 2px 2px 3px 3px $black-lighter;
  margin-bottom: 5px;
  @include xsmall {
    justify-content: center;
    padding: 0;
    flex-direction: column;
  }

  .header-title {
    font-size: 40pt;
    font-family: $reforma-font;
    color: $primary-text;
    font-weight: 500;
    text-align: right;
    margin-left: 10px;
    @include xsmall {
      display: none;
    }
    @include small {
      font-size: 22pt;
    }
    @include medium {
      font-size: 30pt;
    }
  }

  .logo-container {
    @include xsmall {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-assuta-logo {
      top: 25px;
      width: auto;
      @include xsmall {
        width: 70%;
      }
      @include small {
        width: 80%;
      }
      @include medium {
        width: 90%;
      }
    }
  }
}
