@import "../../../styles/mixins";
@import "../../../styles/variables";

.step-main-container {
  width: 100%;
  height: 100%;
  font-family: Opensanshebrew, sans-serif;
  background-image: url("/assets/images/bg_image.jpg");
  background-position: 0px -171.1px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 36px;
  color: $black-lightest;
  font-size: 18px;
  font-weight: 700;
  @include xsmall {
    padding-top: 0;
  }

  .header-title-mobile {
    display: none;
    @include xsmall {
      display: flex;
      align-self: flex-start;
      margin-right: 6%;
      font-size: 20pt;
      font-family: "Reforma", sans-serif;
      color: $primary-text;
      font-weight: 500;
      text-align: right;
    }
  }

  .form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 57%;
    margin-right: 6%;
    @include xsmall {
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .text-input-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      height: 81px;
      margin: 20px 0 0;
      margin-left: 45px;

      .text-input {
        text-align: right;
        box-sizing: border-box;
        width: 335px;
        height: 50px;
        padding: 8px 12px;
        font-family: Opensanshebrew, sans-serif;
        font-size: 17px;
        ::placeholder {
          text-align: right;
        }
      }
    }

    .group-container {
      display: flex;
      flex-direction: row;
      width: 380px;
      margin: 20px 0 0 0;
      gap: 26px;
      .address-input-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: 81px;

        .first-input {
          text-align: right;
          box-sizing: border-box;
          width: 228px;
          height: 50px;
          padding: 8px 12px;
          font-family: Opensanshebrew, sans-serif;
          font-size: 17px;
          ::placeholder {
            text-align: right;
          }
        }
        .last-input {
          text-align: right;
          box-sizing: border-box;
          width: 84px;
          height: 50px;
          padding: 8px 12px;
          font-family: Opensanshebrew, sans-serif;
          font-size: 16px;
          ::placeholder {
            text-align: right;
          }
        }
      }
    }
    .validation-message {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      line-height: 20px;
      font-size: 14px;
      margin-top: -8px;
      margin-bottom: 8px;
      color: $red-default;
      font-weight: 300;
    }

    .gender-options-container {
      display: flex;
      flex-direction: row;

      .gender-image {
        cursor: pointer;
      }

      .other-option {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        min-width: 141px;
        width: 141px;
        height: 97px;
        border: 0.3px solid $grey-lighter;
        background-color: $white-default;
        color: $primary-text;
        font-size: 20px;
        text-align: center;
        margin-right: 2px;
      }

      .other-option.selected {
        background-color: $primary-text;
        color: $white-default;
      }
    }

    .boolean-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 20px 0 0;

      .boolean-options-container {
        display: flex;
        flex-direction: row;
        gap: 35px;

        margin-left: 45px;

        .boolean-option {
          height: 52px;
          width: 150px;
          position: relative;
          display: inline-block;
          cursor: pointer;
        }

        .boolean-option img {
          height: 52px;
          width: 150px;
        }

        .option-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $black-default;
          font-weight: bold;
          pointer-events: none;
          font-weight: 400;
        }
      }
    }
  }
}
