@import "../../../styles/mixins";
@import "../../../styles/fonts";

.step-main-container {
  width: 100%;
  height: 100%;
  font-family: $opensanshebrew-font;
  background-image: url("/assets/images/bg_image.jpg");
  background-position: 0px -171.1px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 36px;
  color: $black-lightest;
  font-size: 18px;
  font-weight: 700;
  @include xsmall {
    padding-top: 0;
  }

  .header-title-mobile {
    display: none;
    @include xsmall {
      display: flex;
      align-self: flex-start;
      margin-right: 6%;
      font-size: 20pt;
      font-family: $reforma-font;
      color: $primary-text;
      font-weight: 500;
      text-align: right;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 57%;
    margin-right: 6%;
    @include medium {
      width: 70%;
    }
    @include small {
      width: 80%;
    }
    @include xsmall {
      width: 100%;
      justify-content: center;
    }

    .text-input-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: -20px;
      margin-left: 45px;

      .text-input {
        text-align: right;
        box-sizing: border-box;
        width: 335px;
        height: 50px;
        padding: 8px 12px;
        font-family: $opensanshebrew-font;
        font-size: 17px;
        ::placeholder {
          text-align: right;
        }
      }
    }

    .dropdown-container {
      display: flex;
      flex-direction: column;
      .select-input {
        border: 1px solid $grey-darkest;
        background-color: $white-default;
        font-family: $opensanshebrew-font;
        color: $black-lightest;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 352px;
        min-width: 221px;
        height: 51px;
        font-size: 18px;
        margin-top: 3px;

        &:disabled {
          cursor: not-allowed;
          color: $grey-dark;
          background-color: $grey-lightest;
        }
        &:enabled {
          cursor: pointer;
        }
      }

      .select-options {
        display: flex;
        flex-direction: column;
        border: 1px solid $grey-lighter;
        width: 352px;
        box-sizing: border-box;
        max-height: 170px;
        overflow-y: scroll;
        z-index: 3;

        .select-option {
          font-family: $opensanshebrew-font;
          font-size: 19px;
          width: 100%;
          text-align: right;
          min-height: 45px;
          padding: 5px 6px 2px;
          border: none;
          background-color: $white-default;
          border-bottom: 1px solid $black-lighter;
          cursor: pointer;

          &:hover {
            background-color: $white-darker;
          }
        }
      }
    }

    .boolean-container {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .boolean-options-container {
        display: flex;
        flex-direction: row;
        gap: 50px;

        .boolean-option {
          height: 52px;
          width: 150px;
          position: relative;
          display: inline-block;
          cursor: pointer;
        }

        .boolean-option img {
          height: 52px;
          width: 150px;
        }

        .option-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $black-default;
          font-weight: bold;
          pointer-events: none;
          font-weight: 400;
        }
      }
    }

    .radio-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 13px;

      .radio-options-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include xsmall {
          flex-direction: column;
          gap: 5px;
        }

        .radio-option {
          display: flex;
          flex-direction: row;
          gap: 5px;
          width: 280px;
          height: 45px;
        }

        .radio-option img {
          width: 25px;
          height: 25px;
          cursor: pointer;
        }

        .option-text {
          font-size: 19px;
          font-weight: 400;
          padding: 1px 6px 2px;
          cursor: pointer;
        }
      }
    }
  }
}
