@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

.step-main-container {
  width: 100%;
  height: 100%;
  font-family: $opensanshebrew-font;
  background-image: url("../../../../assets/images/bg_image.jpg");
  background-position: 0px -171.1px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 36px;
  color: $black-lightest;
  font-size: 18px;
  font-weight: 700;
  @include xsmall {
    padding-top: 0;
  }

  .header-title-mobile {
    display: none;
    @include xsmall {
      display: flex;
      align-self: flex-start;
      margin-right: 6%;
      font-size: 20pt;
      font-family: $reforma-font;
      color: $primary-text;
      font-weight: 500;
      text-align: right;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 57%;
    margin-right: 6%;
    @include xsmall {
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .sub-title-remove-container {
      display: flex;
      flex-direction: row;
      gap: 7px;
      align-items: center;
      .remove-button {
        cursor: pointer;
        font-size: 35px;
        font-family: $opensanshebrew-font;
        color: $primary-text;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }
      .sub-title {
        font-size: 20pt;
        font-family: $reforma-font;
        color: $primary-text;
        font-weight: 500;
        text-align: right;
      }
    }

    .validation-message {
      font-family: $Helvetica-font;
      line-height: 20px;
      font-size: 14px;
      margin-top: -8px;
      margin-bottom: 8px;
      color: $red-default;
      font-weight: 300;
    }

    .text-input-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      height: 81px;
      margin: 20px 0 0;
      margin-left: 45px;

      .text-input {
        text-align: right;
        box-sizing: border-box;
        width: 352px;
        height: 50px;
        padding: 8px 12px;
        font-family: $opensanshebrew-font;
        font-size: 17px;
        ::placeholder {
          text-align: right;
        }
        @include xsmall {
          width: 316px;
        }
      }
    }
  }

  .add-recommender-button {
    cursor: pointer;
    margin-top: 39px;
    border: 1px solid $primary-text;
    background-color: $white-default;
    width: 352px;
    height: 52px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: $opensanshebrew-font;
    color: $primary-text;
    font-size: 17px;
    font-weight: 700;
    @include xsmall {
      width: 316px;
    }
  }

  .add-workplace-button {
    cursor: pointer;
    margin-top: 39px;
    border: 2px solid $primary-text;
    background-color: $primary-text;
    width: 352px;
    height: 52px;
    padding-top: 13px;
    padding-bottom: 15px;
    font-family: $opensanshebrew-font;
    color: $white-default;
    font-size: 17px;
    font-weight: 500;
    @include xsmall {
      width: 316px;
    }
  }
}
