@import "../../../styles/mixins";

.step-main-container {
  width: 100%;
  height: 100%;
  font-family: Opensanshebrew, sans-serif;
  background-image: url("../../../../assets/images/bg_image.jpg");
  background-position: 0px -171.1px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 36px;
  color: #343530;
  font-size: 18px;
  font-weight: 700;
  @include xsmall {
    padding-top: 0;
  }

  .header-title-mobile {
    display: none;
    @include xsmall {
      display: flex;
      align-self: flex-start;
      margin-right: 6%;
      font-size: 20pt;
      font-family: "Reforma", sans-serif;
      color: #0f2d6c;
      font-weight: 500;
      text-align: right;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 57%;
    margin-right: 6%;
    @include xsmall {
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .sub-title-remove-container {
      display: flex;
      flex-direction: row;
      gap: 7px;
      align-items: center;
      .remove-button {
        cursor: pointer;
        font-size: 35px;
        font-family: Opensanshebrew, sans-serif;
        color: #0f2d6c;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }
      .sub-title {
        font-size: 20pt;
        font-family: "Reforma", sans-serif;
        color: #0f2d6c;
        font-weight: 500;
        text-align: right;
      }
    }

    .validation-message {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      line-height: 20px;
      font-size: 14px;
      margin-top: -8px;
      margin-bottom: 8px;
      color: red;
      font-weight: 300;
    }

    .text-input-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      height: 81px;
      margin: 20px 0 0;
      margin-left: 45px;

      .text-input {
        text-align: right;
        box-sizing: border-box;
        width: 352px;
        height: 50px;
        padding: 8px 12px;
        font-family: Opensanshebrew, sans-serif;
        font-size: 17px;
        ::placeholder {
          text-align: right;
        }
        @include xsmall {
          width: 316px;
        }
      }
    }
  }

  .add-recommender-button {
    cursor: pointer;
    margin-top: 39px;
    border: 1px solid #0f2d6c;
    background-color: white;
    width: 352px;
    height: 52px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: Opensanshebrew, sans-serif;
    color: #0f2d6c;
    font-size: 17px;
    font-weight: 700;
    @include xsmall {
      width: 316px;
    }
  }

  .add-workplace-button {
    cursor: pointer;
    margin-top: 39px;
    border: 2px solid #0f2d6c;
    background-color: #0f2d6c;
    width: 352px;
    height: 52px;
    padding-top: 13px;
    padding-bottom: 15px;
    font-family: Opensanshebrew, sans-serif;
    color: white;
    font-size: 17px;
    font-weight: 500;
    @include xsmall {
      width: 316px;
    }
  }

  .actions-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 6% 100px 6%;
    @include xsmall {
      justify-content: center;
      width: 100%;
      gap: 8px;
      padding-right: 0;
    }

    .next-button {
      color: white;
      width: 208px;
      height: 52px;
      font-family: Opensanshebrew, sans-serif;
      font-size: 18px;
      font-weight: 700;
      @include xsmall {
        height: 64px;
        width: 47%;
      }
      &:disabled {
        cursor: not-allowed;
        color: #c2c3c6;
        background-color: #f0f0ef;
        border: 0;
      }
      &:enabled {
        background-image: linear-gradient(180deg, #0f2d6c, #0f2d6c);
        cursor: pointer;
      }
    }

    .prev-button {
      cursor: pointer;
      background-color: #3898ec;
      color: #999;
      background-image: linear-gradient(180deg, #fff, #fff);
      border: 1px solid #8f8f8f;
      width: 208px;
      height: 52px;
      font-family: Opensanshebrew, sans-serif;
      font-size: 18px;
      font-weight: 700;
      @include xsmall {
        height: 64px;
        width: 47%;
      }
    }
  }
}
