@import '../../styles/variables';

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .close-dialog-container {
    height: 67px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    box-sizing: border-box;

    .close-dialog-button {
      width: 27px;
      cursor: pointer;
    }
  }

  .dialog-title {
    color: $primary-text;
    font-family: "Opensanshebrew";
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    padding: 0;
    text-align: center;
    margin-bottom: 15px;
  }

  .dialog-question {
    color: $primary-text;
    font-family: "Opensanshebrew";
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 24px 0;
    text-align: center;
    width: 80%;
  }

  .actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
    .cancel-button {
      cursor: pointer;
      border: 1px solid $grey-darkest;
      opacity: 0.8;
      color: $black-lightest;
      font-family: "Opensanshebrew";
      font-size: 18px;
      font-weight: 700;
      line-height: 52px;
      height: 52px;
      width: 27%;
      text-align: center;
      border-radius: 0;
    }
    .ok-button {
      cursor: pointer;
      border: 1px solid $grey-darkest;
      color: $white-default;
      font-family: "Opensanshebrew";
      font-size: 18px;
      font-weight: 700;
      line-height: 52px;
      height: 52px;
      background-color: $primary-text;
      text-align: center;
      width: 27%;
      border-radius: 0;
    }
  }
}
